.card-list {
    display : flex;
    gap: 50px;
    flex-wrap : wrap;
    justify-content : center;
    align-items : center;
}

.card-list .card {
    width: 100px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.card-title {
    margin-top: 10px;
}

.card-list .card i:hover {
    cursor: pointer;
    color: blue;
    transition: 0.5s;
    transform:scale(1.2) rotate(360deg) ;
}

.card-normal {
    background-color:#A8A77A;
}

.card-fighting {
    background-color:#C22E28;
}

.card-flying {
    background-color:#A98FF3;
}

.card-poison {
    background-color: #A33EA1;
}

.card-ground {
    background-color:#E2BF65;
}

.card-rock {
    background-color:#B6A136;
}

.card-bug {
    background-color:#A6B91A;
}

.card-ghost {
    background-color:#735797;
}

.card-steel {
    background-color:#B7B7CE;
}

.card-fire {
    background-color:#EE8130;
}

.card-water {
    background-color:#6390F0;
}

.card-grass {
    background-color:#7AC74C;
}

.card-electric {
    background-color:#F7D02C;
}

.card-psychic {
    background-color:#D685AD;
}

.card-ice {
    background-color:#96D9D6;
}

.card-dragon {
    background-color: #6F35FC;
}

.card-dark {
    background-color:#705746;
}

.card-fairy {
    background-color:#FAC7E6;
}


