header .title {
    height: 50px;
    background-color: #f2223d;
    position:sticky;
    top:0px;
    width:100%;
    z-index: 10;
    text-align: center;
    color: white;
    border-bottom: 6px solid black;
}

header mat-toolbar {
    display : flex;
    justify-content: center;
    height: 50px;
    background-color: #ccccca;
    color: black;
}

a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}